.list {
    font-size: 3em;
    color: #00A473;
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    padding: 8px;
    font-weight: 700;
    padding-top: 10px;
    vertical-align: middle;
}

th {
    text-align: left;
    padding: 8px;
    font-weight: 800;
    color: #88A7C1;
    border-bottom: 3px solid #88A7C1;
    text-transform: capitalize;
}

.del {
    border: none;
    padding: 10px;
    background-color: #88A7C1;
    color: white;
    font-weight: 700;
    border-radius: 10%;
}